@using League_Of_Legend
@using League_Of_Legend.ViewModels
@using LeagueOfLegend.DB.Models

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model DeleteRegionViewModels

@{
    Layout = "_Layout";
}

<h1>Suppression d'une Région</h1>

@if (Model.IsDeleted)
{
    <text>
        La suppression a été effectuée
    </text>
}
else
{
    <text>
        Suppression impossible
    </text>
}




